.btn {
  align-self: center;
  min-width: 5.5em;
  font-family: var(--family);
  font-weight: var(--fw-bold);
  line-height: 2;
  background-color: inherit;
  padding: 0 0.5em;
  border-radius: var(--radius);
  border: 2px solid var(--clr-ui-border);
  cursor: pointer;
  transition: var(--transition-duration);
  position: relative;
  z-index: 1;
  outline: none;
}

.btn[data-is-transparent='true'] {
  color: var(--clr-text);
}

.btn[data-is-transparent='false'] {
  color: var(--clr-white);
}

.btn:disabled {
  border-color: var(--clr-disabled);
  color: var(--clr-disabled);
  cursor: default;
}

.btn::after {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  right: 0;
  top: -2px;
  bottom: 0;
  background: var(--clr-main);
  border-radius: var(--radius);
  z-index: -1;
  transition: var(--transition-duration) ease-in;
}

.btn[data-is-accent='true']::after {
  background: var(--clr-accent);
}

.btn[data-is-shadow='true'] {
  box-shadow: var(--shadow-sm);
}

.btn[data-is-transparent='true']::after {
  transform: scale(0);
}

.btn[data-is-transparent='false']::after {
  transform: scale(1);
}

.btn[data-is-neon='true'] {
  color: var(--clr-accent);
  text-shadow: 0 0 0.1em hsl(0 0% 100% / 0.1), 0 0 0.3em currentColor;
  box-shadow: inset 0 0 0.4em 0 var(--clr-accent), 0 0 0.4em 0 var(--clr-accent);
  border-color: var(--clr-accent);
  animation: neon 1.5s forwards;
  transition: var(--transition-duration);
}

.btn[data-is-neon='true']::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: var(--clr-accent);
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(30deg) scale(0.9, 0.35);
  filter: blur(1.5em);
  animation: neonShadow 1.5s forwards;
  transition: var(--transition-duration);
}

@media (hover: hover) and (pointer: fine) {
  .btn[data-is-transparent='true']:not(:disabled):hover::after,
  .btn[data-is-transparent='true']:not(:disabled):focus::after {
    transform: scale(1);
  }
  .btn[data-is-transparent='true']:not(:disabled):hover,
  .btn[data-is-transparent='true']:not(:disabled):focus {
    color: var(--clr-white);
  }

  .btn[data-is-transparent='false']:not(:disabled):hover::after,
  .btn[data-is-transparent='false']:not(:disabled):focus::after {
    transform: scale(0);
  }
  .btn[data-is-transparent='false']:not(:disabled):hover,
  .btn[data-is-transparent='false']:not(:disabled):focus {
    color: var(--clr-text);
  }

  .btn[data-is-neon='true']:not(:disabled):hover::before,
  .btn[data-is-neon='true']:not(:disabled):focus::before {
    opacity: 2;
    filter: blur(1.1em);
    transform: perspective(1em) rotateX(30deg) scale(1, 0.4);
  }
  .btn[data-is-neon='true']:not(:disabled):hover,
  .btn[data-is-neon='true']:not(:disabled):focus {
    box-shadow: inset 0 0 0.4em 0 var(--clr-accent), 0 0 0.7em 0 var(--clr-accent);
    text-shadow: none;
    opacity: 1;
  }
}

@keyframes neon {
  0% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes neonShadow {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.3;
  }
}
