.burgerBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 3px;
  margin-right: 1rem;
  width: 2.5em;
  height: 1.5em;
  background-color: transparent;
  padding: 0.2em;
  border: 2px solid var(--clr-ui-border);
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: var(--shadow-sm);
  z-index: 2;
}

.burgerBtnLine {
  height: 3px;
  background-color: var(--clr-ui-border);
  transition: var(--transirion-duration);
}

.burgerBtnLine:nth-child(1) {
  width: 100%;
}

.burgerBtnLine:nth-child(2) {
  width: 70%;
}

.burgerBtnLine:nth-child(3) {
 width: 40%;
}

@media (min-width: 769px) {
  .burgerBtn {
    display: none;
  }
}
