.navList {
  display: flex;
  gap: 1rem;
}

.navButtonItem {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.navLinkItem,
.navButtonItem {
  font-family: var(--family);
  font-size: var(--fs-xl);
  color: var(--clr-text);
  font-weight: var(--fw-bold);
  text-decoration: none;
  outline: none;
  transition: var(--transition-duration);
}

.navLinkItem[aria-current='page'] {
  color: var(--clr-accent);
  cursor: default;
}

.navLinkItem::before,
.navButtonItem::before {
  content: '<';
}

.navLinkItem::after,
.navButtonItem::after {
  content: '/>';
}

.navLinkItem:not([aria-current='page'])::before,
.navLinkItem:not([aria-current='page'])::after,
.navButtonItem::before,
.navButtonItem::after {
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .navLinkItem:not([aria-current='page']):hover,
  .navLinkItem:not([aria-current='page']):focus,
  .navButtonItem:hover,
  .navButtonItem:focus {
    color: var(--clr-main);
  }

  .navLinkItem:not([aria-current='page']):hover:before,
  .navLinkItem:not([aria-current='page']):hover:after,
  .navLinkItem:not([aria-current='page']):focus:before,
  .navLinkItem:not([aria-current='page']):focus:after,
  .navButtonItem:hover:before,
  .navButtonItem:hover:after,
  .navButtonItem:focus:before,
  .navButtonItem:focus:after {
    color: var(--clr-main);
    opacity: 1;
  }
}

/* Adaptive */
@media (max-width: 768px) {
  .navList {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 2rem;
    transform: translateX(100%);
    transition: transform var(--transition-duration);
    overflow: auto;
    z-index: 2;
  }

  .navList[data-is-active='true'] {
    transform: translateX(0);
  }

  .navList::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-bg);
    opacity: 0.95;
    z-index: -1;
  }

  .navLinkItem,
  .navButtonItem {
    font-size: var(--fs-xxl);
  }
}
