.navList {
  display: flex;
  gap: 1rem;
}

.navButtonItem {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.navLinkItem,
.navButtonItem {
  font-family: var(--family);
  font-size: var(--fs-xl);
  color: var(--clr-text);
  font-weight: var(--fw-bold);
  text-decoration: none;
  outline: none;
  transition: var(--transition-duration);
}

.navLinkItem[aria-current='page'] {
  color: var(--clr-accent);
  cursor: default;
}

.navLinkItem::before,
.navButtonItem::before {
  content: '<';
}

.navLinkItem::after,
.navButtonItem::after {
  content: '/>';
}

.navLinkItem:not([aria-current='page'])::before,
.navLinkItem:not([aria-current='page'])::after,
.navButtonItem::before,
.navButtonItem::after {
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .navLinkItem:not([aria-current='page']):hover,
  .navLinkItem:not([aria-current='page']):focus,
  .navButtonItem:hover,
  .navButtonItem:focus {
    color: var(--clr-main);
  }

  .navLinkItem:not([aria-current='page']):hover:before,
  .navLinkItem:not([aria-current='page']):hover:after,
  .navLinkItem:not([aria-current='page']):focus:before,
  .navLinkItem:not([aria-current='page']):focus:after,
  .navButtonItem:hover:before,
  .navButtonItem:hover:after,
  .navButtonItem:focus:before,
  .navButtonItem:focus:after {
    color: var(--clr-main);
    opacity: 1;
  }
}

/* Adaptive */
@media (max-width: 768px) {
  .navList {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 25px;
    right: 85px;
    padding: 3em 2em;
    border-radius: var(--radius);
    box-shadow: var(--shadow-md);
    clip-path: circle(0 at right top);
    transition: clip-path cubic-bezier(0.77, 0, 0.175, 1) 0.7s 0.4s;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
  }

  .navList[data-is-active='true'],
  .navList[data-is-active='true']::before,
  .navList[data-is-active='true']::after {
    clip-path: circle(200% at right top);
  }

  .navList::before,
  .navList::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-ui);
    clip-path: circle(0 at right top);
    z-index: -1;
  }

  .navList::before {
    opacity: 0.5;
    transition: clip-path cubic-bezier(0.77, 0, 0.175, 1) 0.7s 0.4s;
  }

  .navList::after {
    transition: clip-path cubic-bezier(0.77, 0, 0.175, 1) 0.8s 0.6s;
  }

  .navLinkItem,
  .navButtonItem {
    font-size: var(--fs-xxl);
    opacity: 0;
    transform: translateX(120%);
    transition: opacity 0.6s 1.1s, transform 0.6s 1.1s;
  }

  .navList[data-is-active='true'] .navLinkItem,
  .navList[data-is-active='true'] .navButtonItem {
    opacity: 1;
    transform: translateX(0);
  }

  .navList[data-is-active='false'],
  .navList[data-is-active='false']::before {
    transition: clip-path cubic-bezier(0.77, 0, 0.175, 1) 0.7s 0.6s;
  }

  .navList[data-is-active='false']::after {
    transition: clip-path cubic-bezier(0.77, 0, 0.175, 1) 0.7s 0.4s;
  }

  .navList[data-is-active='false'] .navLinkItem,
  .navList[data-is-active='false'] .navButtonItem {
    transition: opacity 0.6s 0.3s, transform 0.6s 0.3s;
  }
}

@media (max-width: 592px) {
  .navList {
    top: 15px;
    right: 80px;
  }
}

@media (max-width: 372px) {
  .navList {
    padding: 3em 1em;
  }
}

@media (max-width: 332px) {
  .navList {
    padding: 3em 0.55em;
  }
}
