.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  padding: 0.5rem;
}

.modalLayout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  box-shadow: var(--shadow-lg);
  border-radius: var(--radius);
  background-color: var(--clr-ui);
  z-index: 20;
  overflow: auto;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  background:var(--clr-main);
  padding: 0.75rem;
}

.modalTitle {
  margin: 0;
  font-size: var(--fs-lg);
}

.btnClose {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  font-size: 30px;
  line-height: 0;
  color: var(--clr-white);
  cursor: pointer;
  transition: 0.2s;
  outline: none;
}

.btnClose:hover,
.btnClose:focus {
  color: var(--clr-danger);
}

.modalContent {
  width: 100%;
  max-height: 80vh;
  padding: 15px;
}
