.container {
  flex-grow: 1;

}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  animation: fadeRight 1.5s;
}

.title {
  animation: fadeLeft 1s;
}

.text {
  font-size: var(--fs-xl);
  margin: 0;

}

.visualContentWrapper {
  position: relative;
  align-self: center;
  width: 100%;
  max-width: 350px;
  height: auto;
  font-size: 4rem;
  line-height: 0;
}

.visualContentWrapper::before {
  content: '';
  position: absolute;
  top: -0.125em;
  left: -0.125em;
  width: calc(100% + calc(0.125em * 2));
  height: calc(100% + calc(0.125em * 2));
  border: 0.125em solid var(--clr-accent);
  border-radius: var(--radius);
  box-shadow: inset 0 0 0.1em 0 var(--clr-accent), 0 0 0.5em 0 var(--clr-accent);
}

.visualContentWrapper[data-is-neon='true']::after {
  pointer-events: none;
  content: '';
  position: absolute;
  background: var(--clr-accent);
  top: 75%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(30deg) scale(1, 0.35);
  filter: blur(1.5em);
}

.visualContentWrapper[data-is-neon='true'][data-is-neon-animate='true']::before {
  animation: neon 1.5s forwards;
}
.visualContentWrapper[data-is-neon='true'][data-is-neon-animate='true']::after {
  animation: neonShadow 1.5s forwards;
}

.visualContentWrapper[data-is-neon='false'][data-is-neon-animate='true']::before {
  animation: neonOff 1.5s forwards;
}

.aboutMeImg {
  width: auto;
  height: auto;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-top: 2rem;
  animation: fadeUp 1.5s ease-out;
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(30%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30vh);
  }
  70% {
    opacity: 0;
    transform: translateY(20vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes neon {
  0% {
    border-color: var(--clr-border);
    opacity: 0.2;
  }
  70% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.1;
  }
  85% {
    opacity: 0.8;
  }
  87% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.4;
  }
  95% {
    opacity: 0.7;
  }
  97% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes neonShadow {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.03;
  }
  85% {
    opacity: 0.2;
  }
  87% {
    opacity: 0.07;
  }
  90% {
    opacity: 0.25;
  }
  95% {
    opacity: 0.3;
  }
  97% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes neonOff {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
    border-color: var(--clr-border);
    box-shadow: var(--shadow-md);
  }
}
