.socialsNavList {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socialsNavLink {
  color: var(--clr-text);
  text-decoration: none;
  outline: none;
  transition: var(--transition-duration);
}

.socialsNavLink:hover,
.socialsNavLink:focus {
  color: var(--clr-main);
}
