.switcherContainer {
  position: relative;
  box-shadow: var(--shadow-sm);
  border-radius: 100px;
}

.checkbox {
  display: none;
}

.label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #83d8ff;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.сratorsWrapper {
  display: inline-block;
  position: relative;
  z-index: 1;
  height: 99%;
  aspect-ratio: 1;
  background-color: #ffec96;
  border-radius: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.crater {
  position: absolute;
  background-color: #E8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
  aspect-ratio: 1;
}

.crater1 {
  top: 40%;
  left: 15%;
  height: 10%;
}

.crater2 {
  bottom: 20%;
  left: 40%;
  height: 20%;
}

.crater3 {
  top: 20%;
  right: 15%;
  height: 30%;
}


.star {
  position: absolute;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star1 {
  top: 23%;
  left: 44%;
  z-index: 0;
  width: 38%;
  height: 10%;
}

.star2 {
  top: 48%;
  left: 25%;
  z-index: 1;
  width: 60%;
  height: 15%;
}

.star3 {
  top: 72%;
  left: 38%;
  z-index: 0;
  width: 35%;
  height: 10%;
}

.star4,
.star5,
.star6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  aspect-ratio: 1;
}

.star4 {
  top: 17%;
  left: 10%;
  z-index: 0;
  width: 0.2em;
  transform: translateX(100%);
}

.star5 {
  top: 52%;
  left: 40%;
  z-index: 0;
  width: 0.35em;
  transform: translateX(150%);
}

.star6 {
  top: 30%;
  left: 28%;
  z-index: 0;
  width: 0.2em;
  transform: translateX(200%);
}

.checkbox:checked + .label {
  background-color: #749dd6;
}

.checkbox:checked + .label .сratorsWrapper {
  background-color: #fdf1db;
  transform: translateX(101%);
}

.checkbox:checked + .label .сratorsWrapper .crater {
  opacity: 1;
}

.checkbox:checked + .label .star1 {
  width: 0.3em;
  height: 0.3em;
}

.checkbox:checked + .label .star2 {
  width: 0.65em;
  height: 0.6em;
  transform: translateX(-100%);
}

.checkbox:checked + .label .star3 {
  width: 0.2em;
  height: 0.2em;
  transform: translateX(-200%);
}

.checkbox:checked + .label .star4,
.checkbox:checked + .label .star5,
.checkbox:checked + .label .star6 {
  opacity: 1;
  transform: translateX(0);
}

.checkbox:checked + .label .star4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.checkbox:checked + .label .star5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.checkbox:checked + .label .star6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
