/* Common styles */
.App[data-theme-type='light'] {
  --clr-text: var(--clr-txt-light);
  --clr-bg: var(--clr-bg-light);
  --clr-ui: var(--clr-ui-light);
  --clr-ui-border: var(--clr-ui-border-light);
  --clr-ui-hover: var(--clr-ui-hover-light);
}

.App[data-theme-type='dark'] {
  --clr-text: var(--clr-txt-dark);
  --clr-bg: var(--clr-bg-dark);
  --clr-ui: var(--clr-ui-dark);
  --clr-ui-border: var(--clr-ui-border-dark);
  --clr-ui-hover: var(--clr-ui-hover-dark);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: var(--family);
  font-size: var(--fs-md);
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

/* Header styles */
.header {
  width: 100%;
  box-shadow: var(--shadow-md);
}

.headerContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  padding: 1.5rem;
  margin: 0 auto;
}

.logoNavWrapper {
  display: flex;
  align-items: center;
}

.headerLogo {
  margin-right: 3rem;
  border-radius: 50%;
  box-shadow: var(--shadow-sm);
}

.headerLogoImg {
  display: block;
  width: 60px;
  aspect-ratio: 1;
  line-height: 0;
  transition: 0.5s;
}

.headerLogo:hover .headerLogoImg {
  transform: rotate(360deg);
}

/* Main section styles */
.mainContentWrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-width: var(--max-width);
  padding: 1.5rem;
}

/* Footer styles */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
  box-shadow: var(--shadow-negative-md);
}

.footerCopyright {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
}

.footerCopyright::before {
  content: '\A9';
  font-size: var(--fs-lg);
  margin-right: 0.2em;
}

/* Modal Children styles */
.modalAppContent {
  padding: 1rem 0;
}

.modalBtnWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 0;
}

/* Adaptive */
@media (max-width: 799px) {
  .headerLogo {
    margin-right: 1rem;
  }
}

@media (max-width: 768px) {
  .logoNavWrapper {
    justify-content: space-between;
    flex-grow: 1;
  }

  .headerContentWrapper {
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  .headerContentWrapper {
    padding: 0.5rem;
  }

  .headerLogoImg {
    width: 50px;
  }

  .footer {
    padding: 0.5rem;
  }
}
