@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;600;700&display=swap');

:root {
  /* typography */
  --family: 'Inconsolata', monospace;
  --fs-sm: 14px;
  --fs-md: 18px;
  --fs-lg: 22px;
  --fs-xl: 28px;
  --fs-xxl: 32px;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;

  /* colors */
  --clr-white: hsl(0, 0%, 98%);
  --clr-main: hsl(220, 98%, 61%);
  --clr-accent: hsl(276, 98%, 61%);
  --clr-danger: hsl(355, 98%, 66%);
  --clr-disabled: hsla(240, 9%, 61%, 0.5);

  --clr-bg-light: hsl(236, 33%, 92%);
  --clr-txt-light: hsl(235, 19%, 35%);
  --clr-ui-light: hsl(0, 0%, 98%);
  --clr-ui-border-light: hsl(234, 11%, 52%);
  --clr-ui-hover-light: hsl(235, 19%, 35%);

  --clr-bg-dark: hsl(235, 21%, 11%);
  --clr-txt-dark: hsl(233, 11%, 84%);
  --clr-ui-dark: hsl(235, 19%, 35%);
  --clr-ui-border-dark: hsl(236, 9%, 61%);
  --clr-ui-hover-dark: hsl(236, 9%, 61%);

  --clr-gradient: linear-gradient(135deg, var(--clr-accent), var(--clr-main));

  /* breakpoints */
  --scr-md: 768px;

  /* other */
  --radius: 6px;
  --transition-duration: 0.2s;

  --shadow-sm: 0 4px 8px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
  --shadow-md: 0 7px 12px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
  --shadow-lg: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow-negative-sm: 0 -4px 8px rgba(0, 0, 0, 0.25), 0 -3px 3px rgba(0, 0, 0, 0.22);
  --shadow-negative-md: 0 -7px 12px rgba(0, 0, 0, 0.25), 0 -6px 6px rgba(0, 0, 0, 0.22);

  --max-width: 1800px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* custom scroll-bar */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-text);
  border-radius: var(--radius);
  transition: var(--transition-duration);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-gradient);
}

  @supports (scrollbar-color: var(--clr-ui-dark) transparent) {
  * {
    scrollbar-color: var(--clr-text) transparent;
    scrollbar-width: thin;
  }
}
