.projectsContainer {
  position: relative;
}

.projectsContainer::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 5px;
  height: calc(100% - 17px);
  background: var(--clr-gradient);
  border-radius: var(--radius);
  z-index: 1;
  box-shadow: -10px 0 20px 1px #000;
}

.projectsWrapper {
  --padding: 2rem;

  display: grid;
  grid-auto-flow: column;
  padding-block: var(--padding);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.projectCard {
  --card-max-width: 30rem;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: min(85vw, var(--card-max-width));
  min-height: 59vh;
  border-radius: var(--radius);
  z-index: 1;
  overflow: hidden;
  transform: perspective(40rem) rotateY(5deg);
  transition: var(--transition-duration);
  scroll-snap-align: start;
}

.projectCard:first-child {
  margin-left: 0.45rem
}

.projectCard:not(:first-child) {
  margin-left: calc(var(--card-max-width) * -0.35);
  box-shadow: -4rem 0.5rem 3rem -2.5rem rgba(0, 0, 0, 0.7);
}

.projectCard:hover,
.projectCard:focus {
  margin-right: calc((var(--card-max-width) * 0.35) + 2px);
  transform: rotateY(0deg);
}

.projectCard:not(:first-child):hover,
.projectCard:not(:first-child):focus {
  box-shadow: -3rem 0.5rem 3rem -2.5rem rgba(0, 0, 0, 0.7);
}

.projectCard:first-child:hover,
.projectCard:first-child:focus {
  margin-left: 0;
}

.projectCategory {
  position: absolute;
  top: 0;
  left: 6%;
  display: flex;
  align-items: center;
  width: 8%;
  height: 100%;
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  writing-mode: vertical-lr;
  background: var(--clr-gradient);
  padding-top: 1rem;
}

.iconsContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.75rem;
}

.iconsWrapper,
.projectContentTogglerWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
}

.previewTypeIconWrapper,
.likeIconWrapper,
.projectContentTogglerBtn {
  order: 1;
  color: var(--clr-main);
  line-height: 0;
  padding: 0.2em;
  background-color: var(--clr-ui);
  border-radius: var(--radius);
  box-shadow: var(--shadow-sm);
  cursor: pointer;
  transition: var(--transition-duration);
}

.likeTooltip,
.previewTypeTooltip,
.openProjectContentBtnTooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  line-height: 0;
  font-weight: var(--fw-bold);
  color: var(--clr-text);
  background-color: var(--clr-ui);
  padding: 0.75em;
  border-radius: var(--radius);
  box-shadow: var(--shadow-sm);
  opacity: 0;
  transition: var(--transition-duration);
  pointer-events: none;
}

.likeIconWrapper[data-is-liked='true'] {
  color: var(--clr-accent);
}

.projectContentControlsWrapper {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  background: var(--clr-ui);
  transition: var(--transition-duration);
  transform: translateY(100%);
}

.projectContentTogglerWrapper {
  position: absolute;
  top: -40px;
  right: 0.75rem;
}

.projectCard:hover .projectContentTogglerBtn[data-is-up='false'],
.projectCard:focus .projectContentTogglerBtn[data-is-up='false'] {
  transform: rotate(180deg);
  box-shadow: var(--shadow-negative-sm);
}

.projectCard:hover .projectContentControlsWrapper[data-is-visible='true'],
.projectCard:focus .projectContentControlsWrapper[data-is-visible='true'] {
  transform: translateY(0);
}

.projectTitle {
  margin: 0;
  text-align: center;
}

.projectLinksWrapper {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
}

.projectLink {
  align-self: center;
  min-width: 5.5em;
  font-family: var(--family);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  line-height: 2;
  text-align: center;
  background-color: var(--clr-main);;
  padding: 0 0.5em;
  border-radius: var(--radius);
  box-shadow: var(--shadow-sm);
  outline: none;
  text-decoration: none;
  transition: var(--transition-duration);
  cursor: pointer;
  position: relative;
  z-index: 1;
}

@media (hover: hover) and (pointer: fine) {
  .previewTypeIconWrapper:hover,
  .previewTypeIconWrapper:focus,
  .likeIconWrapper[data-is-liked='false']:hover,
  .likeIconWrapper[data-is-liked='false']:focus,
  .projectContentTogglerBtn:hover,
  .projectContentTogglerBtn:focus {
    color: var(--clr-accent);
  }

  .likeIconWrapper[data-is-liked='true']:hover,
  .likeIconWrapper[data-is-liked='true']:focus {
    color: var(--clr-main);
  }

  .previewTypeIconWrapper:hover::before,
  .previewTypeIconWrapper:focus::before,
  .likeIconWrapper:hover::before,
  .likeIconWrapper:focus::before {
    opacity: 1;
  }

  .previewTypeIconWrapper:hover ~ .previewTypeTooltip,
  .previewTypeIconWrapper:focus ~ .previewTypeTooltip,
  .likeIconWrapper:hover ~ .likeTooltip,
  .likeIconWrapper:focus ~ .likeTooltip,
  .projectContentTogglerBtn:hover ~ .openProjectContentBtnTooltip,
  .projectContentTogglerBtn:focus ~ .openProjectContentBtnTooltip {
    opacity: 1;
  }

  .projectLink:hover,
  .projectLink:focus {
    color: var(--clr-white);
    transform: translate(2px,-2px);
    box-shadow: var(--shadow-md);
  }
}
