.projectsContainer {
  position: relative;
}

.projectsContainer::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 5px;
  height: calc(60vh - 20px);
  background: var(--clr-gradient);
  z-index: 1;
  box-shadow: -10px 0 20px 3px #000;
}

.projectsWrapper {
  --padding-bottom: 20px;

  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  padding-bottom: var(--padding-bottom);
}



.projectCard {
  --card-max-width: 30rem;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: min(95vw, var(--card-max-width));
  min-height: 60vh;
  border-radius: var(--radius);
  z-index: 1;
  box-shadow: -1rem 0 3rem -1rem #000;
  overflow: hidden;
  transition: var(--transition-duration);
}

.projectCard:not(:first-child) {
  margin-left: calc(var(--card-max-width) * -0.35);
}

.projectCard:hover,
.projectCard:focus {
  margin-right: calc(var(--card-max-width) * 0.35);
}

.projectCategory {
  position: absolute;
  top: 0;
  left: 6%;
  display: flex;
  align-items: center;
  width: 8%;
  height: 100%;
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  writing-mode: vertical-lr;
  background: var(--clr-gradient);
  padding-top: 1rem;
}

.iconsWrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.75rem;
}

.previewTypeIconWrapper,
.likeIconWrapper,
.openProjectContentBtn {
  color: var(--clr-main);
  line-height: 0;
  padding: 0.2em;
  background-color: var(--clr-ui);
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition-duration);
}

.previewTypeIconWrapper::before,
.likeIconWrapper::before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  position: absolute;
  line-height: 0;
  font-weight: var(--fw-bold);
  color: var(--clr-text);
  background-color: var(--clr-ui);
  padding: 0.75em;
  border-radius: var(--radius);
  transform: translateY(50%);
  box-shadow: var(--shadow-sm);
  opacity: 0;
  transition: var(--transition-duration);
  pointer-events: none;
}

.previewTypeIconWrapper[data-is-mobile-preview='true']::before {
  content: 'Switch to desktop preview';
  left: -442%;
  bottom: 30%;
}

.previewTypeIconWrapper[data-is-mobile-preview='false']::before {
  content: 'Switch to mobile preview';
  left: -427%;
  bottom: 30%;
}

.likeIconWrapper[data-is-liked='true']::before {
  content: 'Dislike :(';
  left: -199%;
  bottom: 71%;
}

.likeIconWrapper[data-is-liked='false']::before {
  content: 'Like :)';
  left: -150%;
  bottom: 71%;
}

.likeIconWrapper[data-is-liked='true'] {
  color: var(--clr-accent);
}

.projectContentControlsWrapper {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  background: var(--clr-ui);
  transition: var(--transition-duration);
  transform: translateY(100%);
}

.openProjectContentBtn {
  position: absolute;
  top: -40px;
  right: 0.75rem;
}

.projectCard:hover .openProjectContentBtn[data-is-up='false'],
.projectCard:focus .openProjectContentBtn[data-is-up='false'] {
  transform: rotate(180deg);
  box-shadow: var(--shadow-negative-sm);
}

.projectCard:hover .projectContentControlsWrapper[data-is-visible='true'],
.projectCard:focus .projectContentControlsWrapper[data-is-visible='true'] {
  transform: translateY(0);
}

.projectContent {
  flex-grow: 1;
}

.projectTitle {
  margin: 0;
  text-align: center;
}

.projectLinksWrapper {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
}

.projectLink {
  align-self: center;
  min-width: 5.5em;
  font-family: var(--family);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  line-height: 2;
  text-align: center;
  background-color: var(--clr-main);;
  padding: 0 0.5em;
  border-radius: var(--radius);
  box-shadow: var(--shadow-sm);
  outline: none;
  text-decoration: none;
  transition: var(--transition-duration);
  cursor: pointer;
  position: relative;
  z-index: 1;
}

@media (hover: hover) and (pointer: fine) {
  .previewTypeIconWrapper:hover,
  .previewTypeIconWrapper:focus,
  .likeIconWrapper[data-is-liked='false']:hover,
  .likeIconWrapper[data-is-liked='false']:focus,
  .openProjectContentBtn:hover,
  .openProjectContentBtn:focus {
    color: var(--clr-accent);
  }

  .likeIconWrapper[data-is-liked='true']:hover,
  .likeIconWrapper[data-is-liked='true']:focus {
    color: var(--clr-main);
  }

  .previewTypeIconWrapper:hover::before,
  .previewTypeIconWrapper:focus::before,
  .likeIconWrapper:hover::before,
  .likeIconWrapper:focus::before {
    opacity: 1;
  }

  .projectLink:hover,
  .projectLink:focus {
    color: var(--clr-white);
    transform: translate(2px,-2px);
    box-shadow: var(--shadow-md);
  }
}
